<div class="row fotoperfil">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 hfp">
        <img src="../../../assets/fp.png" class="fp2" id="fp">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 nombre">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, pariatur. Labore voluptates, odit hic quibusdam nisi rerum ad molestias ducimus aliquid? Quasi, deserunt voluptatem incidunt sunt maiores animi eum aut.</p>
        </span>
    </div>
</div> 