.row{
    padding: 20px;
}

.fotoperfil {
    position: relative;
}

.hfp {
    position: absolute;
    top: -140px;
    padding: 0;
}

.fp2 {
    width: 100%;
    height: auto;
}

div{
    background-color: #88B7B5;
    text-align: center;
}
/*Estilo de la foto de perfil*/
@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 3%;
        top:550px;
    }
}
@media (max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 33%;
        top:950px;
    }
}

/*etiqueta nombre*/
@media (min-width: 1200px){
    #nombre{
        font-weight: bold;
        margin-top: 30%;
        padding-top: 100px;
    }
}

#nombre{
    font-weight: bold;
    margin-top: 30%;
}
